.h2-book-session {
  color: black;
}

body {
  font-family: Arial, sans-serif;
}

.bt-calendar ul {
  list-style-type: none;
  padding: 0;
}

.bt-calendar .calendar-wrapper {
  width: 100%;
  border: solid 1px #ddd;
}

.bt-calendar .calendar-table {
  width: 100%;
  display: inline-block;
}

/* calendar-month-zone header */
.bt-calendar .calendar-table .calendar-month-zone {
  padding: 20px;
  width: auto;
  background: #990088;
  text-align: center;
  color: #1e9dd4;
  border-bottom: solid 1px #eee;
}

/* calendar-month-zone list */
.bt-calendar .calendar-table .calendar-month-zone ul {
  margin: 0;
  padding: 0;
}

.bt-calendar .calendar-table .calendar-month-zone ul li {
  color: #1e9dd4;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
}

.bt-calendar .calendar-table .calendar-month-zone a.btn {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: #990088 !important;
}

/* Weekdays (Mon-Sun) */
.bt-calendar.monthly-view .calendar-table .weekdays {
  margin: 0;
  padding: 0;
  height: 40px;
  line-height: 40px;
  background-color: #eee;
}

.bt-calendar.monthly-view .calendar-table .weekdays li {
  display: inline-block;
  width: 14.283%;
  float: left;
  color: #666;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

/* Days (1-31) */
.bt-calendar.monthly-view .calendar-table .days {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.bt-calendar.monthly-view .calendar-table .days > li {
  list-style-type: none;
  position: relative;
  display: inline-block;
  width: 14.283%;
  text-align: center;
  float: left;
  margin: 0;
  padding: 0;
  height: 80px;
  line-height: 40px;
  font-size: 12px;
  color: #777;
  border: solid 1px #eee;
}

.bt-calendar.monthly-view .calendar-table .days li a.more-events {
  line-height: 1.2;
  display: block;
  text-align: left;
  color: #1e9dd4;
}

.bt-calendar.monthly-view .calendar-table .days li a.more-events:hover {
  text-decoration: underline;
}

.bt-calendar.monthly-view .calendar-table .days li .day-item {
  display: block;
  height: 15px;
  line-height: 15px;
  text-align: left;
  padding: 5px;
}

.bt-calendar.monthly-view .calendar-table .days li .extra-days {
  color: #ddd;
}

.bt-calendar.monthly-view .calendar-table .days li .repeating-event {
  display: block;
  height: 15px;
  width: 100%;
  position: relative;
  line-height: 15px;
  border-bottom: solid 2px #fff;
}

.bt-calendar.monthly-view .calendar-table .days li .repeating-event:before {
  content: "";
  height: 15px;
  width: 2px;
  margin-left: -2px;
  display: block;
  border-bottom: solid 2px #fff;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .repeating-event
  .event-title {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-size: 11px;
  padding-left: 2px;
  margin-top: -1px;
  max-width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .repeating-event
  .event-duration {
  position: absolute;
  right: 3px;
  top: 0;
  color: #fff;
  line-height: 13px;
  font-size: 10px;
}

.bt-calendar.monthly-view .calendar-table .days li .single-event {
  width: 100%;
  display: block;
  text-align: left;
  line-height: 1.2;
  font-size: 11px;
}

.bt-calendar.monthly-view .calendar-table .days li .single-event:before {
  content: "\f111";
  color: #1e9dd4;
  font-size: 8px !important;
  float: left;
  padding: 2px 3px 0 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bt-calendar.monthly-view .calendar-table .days li .single-event * {
  display: inline-block;
}

.bt-calendar.monthly-view .calendar-table .days li .single-event .event-title {
  color: white;
  max-width: 78%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bt-calendar.monthly-view .calendar-table .days li .single-event .event-time {
  padding-right: 2px;
  float: right;
  color: #999;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .single-event
  .event-repetition,
.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .single-event
  .event-recurrence,
.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .single-event
  .event-calendar-overlay {
  display: none;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  .single-event
  .event-repetition,
.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  .single-event
  .event-recurrence,
.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  .single-event
  .event-calendar-overlay {
  display: block;
}

.bt-calendar.monthly-view .calendar-table .days li .event-modal {
  position: absolute;
  min-width: 250px;
  width: 100%;
  max-height: 250px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999;
  border: solid 1px #eee;
  -webkit-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.16);
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  > li:nth-child(7n + 1)
  .event-modal {
  left: -1px;
  transform: translateY(-50%);
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  > li:nth-child(7n)
  .event-modal {
  left: auto;
  transform: translateY(-50%);
  right: -1px;
}

.bt-calendar.monthly-view .calendar-table .days li .event-modal ul {
  padding: 10px 0;
  max-height: 190px;
  overflow: hidden;
}

.bt-calendar.monthly-view .calendar-table .days li .event-modal ul li {
  line-height: 1;
  padding: 5px 10px 5px 10px;
  text-align: left;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  .event-title {
  width: 90%;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  span.calendar-overlay {
  border: solid 1px #999;
  color: #999;
  font-size: 9px;
  margin-left: 10px;
  padding: 3px;
  text-transform: uppercase;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  .event-time,
.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  .event-recurrence {
  width: 100%;
  padding: 2px 0 2px 10px;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  .event-recurrence {
  font-size: 10px;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  span.corresponding-day {
  font-size: 25px;
  display: block;
  padding: 10px 10px 0 10px;
  line-height: 1.2;
  text-align: left;
}

.bt-calendar.monthly-view
  .calendar-table
  .days
  li
  .event-modal
  span.corresponding-week-day {
  display: block;
  line-height: 1.2;
  font-size: 10px;
  text-align: left;
  padding: 0 10px 5px 10px;
}

.bt-calendar.monthly-view .calendar-table .days li .event-modal .modal-close {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #999;
  cursor: pointer;
}

.bt-calendar.monthly-view .calendar-table li.today {
  /* border: solid 1px #1e9dd4;
  color: #1e9dd4; */
}

.bt-calendar.monthly-view .calendar-table .days li .day-events-number {
  position: absolute;
  background-color: #2baae1;
  border: solid 1px #ffffff;
  height: 17px;
  border-radius: 50%;
  width: 17px;
  color: #ffffff;
  line-height: 17px;
  font-size: 9px;
  right: -10px;
  top: -6px;
  display: none;
}

/* CALENDAR XS VIEW 
VIEW BELOW 350px */

.bt-calendar.monthly-view.xs-view .calendar-table .days > li {
  height: 50px;
  position: initial;
}

.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  > li
  .single-event
  .event-title,
.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  > li
  .single-event
  .event-time,
.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  > li
  .repeating-event
  .event-title,
.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  > li
  .repeating-event
  .event-duration {
  display: none;
}

.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  .event-title,
.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  li
  .event-modal
  ul
  li
  .single-event
  .event-time {
  display: inline-block;
}

.bt-calendar.monthly-view.xs-view .calendar-table .days li .repeating-event,
.bt-calendar.monthly-view.xs-view
  .calendar-table
  .days
  li
  .repeating-event:before {
  height: 5px;
}

.bt-calendar.monthly-view.xs-view .calendar-table .days {
  position: relative;
}

.bt-calendar.monthly-view.xs-view .calendar-table .days li .event-modal {
  top: 0;
  transform: none;
  left: 0;
}

/******************  
  CATEGORIES 
  AND COLORS
******************/

.meeting {
  border-left: solid 1px red;
}

.work-hours {
  border-left: solid 1px blue;
}

.get-together {
  border-left: solid 1px yellow;
}

.day-events-number.meeting {
  background-color: red;
}

.day-events-number.work-hours {
  background-color: blue;
}

.day-events-number.get-together {
  background: yellow;
}
