.App {
  text-align: center;
}

.navbar {
  background-color: purple;
  height: 250px;
  font-size: calc(10px + 2vmin);
}

.logo {
  width: 190px;
  height: 190px;
  display: "inline";
  position: relative;
  margin: 20px;
  padding: 10px;
}

.homepage {
  background-color: black;
  color: white;
}
.testimonials {
  margin: 50px;
  padding: 5%;
}

.h2-book-session {
  color: black;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
